.list__body{
    max-width: 1200px;
    margin: auto;
}

/* filer  */

.list_filter{
    margin-top: -50px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 11px 0 rgb(0 0 0 / 9%);
}

.list_filter p{
    padding: 0;
    margin-right: 15px;
    max-width: 225px;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.44px;
    color: #333;
    background-color: inherit;
    border-radius: 0;
} 


.list_filter .clear_btn{
    font-size: 14px;
    line-height: 1.57;
    color: #555;
} 

.filter_input_box{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    height: 68px;
    border-radius: 4px;
    border: 1px solid #bebebe;
    padding: 0 15px;
}

.filter_input_box label{
    padding: 0 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

select{
    padding: 0 16px 8px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: normal;
    color: #333;
    border: none;
    outline: none;
    background-color: #fff;
}

/* list body */

.list__continer{
    display: flex;
}


/* sidebar list styling  */
/* ================================================ */

.sidebar{
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
}

.sidebar .visit{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 51.4px 24px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    margin: 0 15px;
}

.visit .count{
    font-size: 40px;
    font-weight: 200;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 5px;
}

.visit .title{
    font-size: 18px;
    color: #333;
    line-height: 1;
    margin-bottom: 26px;
}

.ad img{
    margin: 15px;
}

/* main list styling  */
/* ================================================ */

.list {
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 15px;
}

.list_item{
    box-shadow: 0 0 4px 0 rgb(151 169 197 / 55%);
    transition: border .5s ease 0s,box-shadow .2s ease 0s,transform .2s ease 0s;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.list_box{
    margin-bottom: 9px;
    overflow: hidden;
    padding: 4px 5px;
    min-height: 190px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* more info test */
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.list_box div{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding: 0 20px;
}

/* intro  */

.list_box .intro {
    width: 20%;
}

.list_box .intro img{
    width: 100%;
    max-width: 170px;
    max-height: 73px;
    margin-top: -20px;
}

.more {
    cursor: pointer;
    font-size: 13px;
    color: #78769e;
    margin-top: 40px;
}

/* main info area */

.list_box .info {
    width: 40%;
    display: flex;
    align-items: flex-start;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.list_box .info div {
    display: flex;
    align-items: flex-start;
}


.info .brand_title{
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #353449;
}

.info .main_brand_line {
    border-radius: 7px;
    border: 1.5px solid rgba(93,81,243,.4);
    background-color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.33;
    text-align: center;
    color: #5d51f3;
    padding: 2px 10px;
    margin-top: 7px;
    margin-bottom: 15px;
}

.info .brand_selling_line {
    padding-left: 4px ;
}

.info .brand_selling_line li{
    list-style-type: none;
    text-align: left;
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    line-height: 1;
    font-weight: 400;
    padding: 0;
}

.info .brand_selling_line li::before {
    content: "";
    background: url(https://lendstart.com/app/themes/lendstart/front/img/svg/checkmark-green.svg) no-repeat 50%/cover;
    display: block;
    min-width: 13px;
    min-height: 10px;
    margin-top: 1px;
    margin-right: 10px;
    position: relative;
    top: 0;
}

/* cta button  */

.list_box .cta {
    width: 19%;
}

.visit_link {
    width: auto;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.36;
    color: #127dff;
    text-decoration: none;
}

.cta .btn_cta{
    background: #38b559;
    padding: 10px 20px 9px;
    max-width: 180px;
    color: #fff;
    transition: .3s;
    white-space: nowrap;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    text-decoration: none;
    text-align: center;
}

/* more info tab */
/* ==============================  */

.more_info {
    display: flex;
    background: #f6f6f8;
    border-radius: 0 0 10px 10px;
    padding-bottom: 15px ;
}

.more_info div {
    padding: 20px;
}

.more_info .sub_title {
    font-size: 18px;
    line-height: 1.25;
    color: #555;
    font-weight: 700;
    margin-bottom: 8px;
}

.more_info li {
    color: #555;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.46;
    margin-bottom: 4px;
    position: relative;
}

/* more info facts */
.more_info .facts{
    width: 40%;
    border-right: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.facts li{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
    line-height: 1;
    padding: 0;
}

.facts li::before {
    content: "";
    background: url(https://lendstart.com/app/themes/lendstart/front/img/svg/checkmark-green.svg) no-repeat 50%/cover;
    display: block;
    min-width: 13px;
    min-height: 10px;
    margin-top: 1px;
    margin-right: 10px;
    position: relative;
    top: 0;
}

.more_info .pros ul {
    padding-left: 40px;
}


.new_more{
    background-color: #fff;
    padding-left: 65px;
    margin-top: -45px;
    padding-bottom: 30px;
    padding-left: 65px;
}

@media only screen and (max-width: 1200px) {
    .sidebar{
        display: none;
    }

    .list {
        flex: 0 0 98%;
        max-width: 99%;
        padding-right: 0px;
  }

  .list__continer {
    display: flex;
    justify-content: center;
    }

}

@media only screen and (max-width: 800px) {
    .list_filter{
        display: none;
    }

    .list__body{
        margin-top: -30px;
    }

}

/* mobile */
/* ============================ */

@media only screen and (max-width: 768px) {
    .list_item{
        margin-bottom: 20px;
    }

    .list_box{
        padding: 25px 0 ;
        flex-direction: column;
    }

    .list_box div{
        width: 80% !important;
        border: none !important;
    }

    .box .intro img {
        width: 100%;
        max-width: 250px;
    }

    .brand_title{
        display: none;
    }

    .main_brand_line{
        display: none;
    }

    .more_info{
        flex-direction:column-reverse;

    }

    .more_info .facts{
        width: 90%;
    }

    .new_more{
        background-color:#f6f6f8;
        text-align: center;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding: 10px;
        font-size: 16px;
    }

    .cta .visit_link{
        display: none;
    }
}