main{
    padding-top: 40px;
    background-color: #fff;
}

main .main__container{
    display: flex;
    max-width: 1200px;
    margin: auto;
}


main .sidebar div{
    border-radius: 5px;
    background-color: #f0f0f2;
    padding: 20px;
    margin: 5px;
}

main .sidebar .read_more{
    margin-top: 30px;
}

main .sidebar .sidebar__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.04;
    text-align: center;
    color: #333;
    margin-top: 10px;
    padding-bottom: 15px;
    
}

main .sidebar details,.sidebar article{
    border-top: 1px solid #d8dade;
    margin-bottom: 15px;
    padding-top: 15px;

}

main .article__title , .sidebar summary{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.56;
    color: #333;
}

main .sidebar p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: #555;
    margin-bottom: 10px;
}

/* sidebar  */

main .text-content h2, .text-content h3 {
    margin-top: 15px;
    margin-bottom: 5px;
} 

main .post_content{
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
    margin: 0 30px;

}

main .text-content{
    width: 100%;
}

main .text-content p {
    font-size: 18px; 
    font-weight: 300;
    color: #555;
    word-wrap: break-word;
    margin-bottom: 20px;
}

main .text-content img{
    width: 95%;
}